geopandas
scikit-plot
shap
xgboost
openpyxl
pyarrow
pystan
textpack
pandas_datareader
backtrader
dataprep
keras 
alpha_vantage
praw
#get-all-tickers has an issue currently
vader
squarify
yfinance
plotly
plotly-express
dash
jupyter-dash
dash_bootstrap_components